{% extends "base.html" %}

{% block title %}
-- Welcome
{% endblock %}

{% block content %}
<section id="cb-intro-2-4" class="cb-intro-block cb-intro-2-4" data-pg-collapsed>
    <div id="intro14" style="background-image:url('http://placehold.it/1280x1280');"> 
        <div class="overlay"></div>         
        <div class="container"> 
            <div class="row"> 
                <div class="col-md-6"> 
                    <img src="../static/header.png" alt="" style="outline: none; cursor: inherit;"> 
                </div>                 
                <div class="col-md-6"> 
                    <div class="content"> 
                        <h3 class="editContent mb20" style="outline: none; cursor: inherit;">Meet your "TYPE"</h3> 
                        <h5 class="editContent" style="outline: none; cursor: inherit;">upload a photo</h5> 
                        <h5 class="editContent" style="outline: none; cursor: inherit;"> <b>Find our match</b></h5> 
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean</p>
                        <a type="submit" href="#start" class="btn btn-default-orange-light">Try it now!</a>
                    </div>                     
                </div>
            </div>             
        </div>         
    </div>
</section>
<section id="cb-service-1-3" class="cb-service-block cb-service-1-3 m-t-30" data-pg-collapsed>
    <div id="services3"> 
        <div class="container"> 
            <div class="row"> 
                <div class="col-md-4"> 
                    <div class="services-box">
                        <div class="icon"> 
                            <i class="fa fa-2x fa-black fa-heart"></i> 
                        </div>                         
                        <h3 class="editContent" style="outline: none; cursor: inherit;">Lorem</h3> 
                        <p class="editContent" style="outline: none; cursor: inherit;">loremWe put a lot of effort into providing top-notch customer support. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                    </div>                     
                </div>
                <div class="col-md-4"> 
                    <div class="services-box"> 
                        <div class="icon"> 
                            <i class="fa fa-2x fa-black fa-heart"></i> 
                        </div>                         
                        <h3 class="editContent" style="outline: none; cursor: inherit;">Lorem</h3> 
                        <p class="editContent" style="outline: none; cursor: inherit;">We put a lot of effort into providing top-notch customer support. It has survived not only five centuries, but also the leap into electronic typesetting.</p> 
                    </div>                     
                </div>
                <div class="col-md-4"> 
                    <div class="services-box"> 
                        <div class="icon"> 
                            <i class="fa fa-2x fa-black fa-heart"></i> 
                        </div>                         
                        <h3 class="editContent" style="outline: none; cursor: inherit;">Lorem</h3> 
                        <p class="editContent" style="outline: none; cursor: inherit;">We put a lot of effort into providing top-notch customer support. It has survived not only five centuries, but also the leap into electronic typesetting.</p> 
                    </div>                     
                </div>                 
            </div>             
        </div>         
    </div>     
</section>
<section id="cb-form-1-3" class="cb-form-block cb-form-1-3" data-pg-collapsed>
    <div id="pageloginregister1"> 
        <div class="container"> 
            <div class="row"> 
                <div class="col-sm-12"> 
                    <h3 class="text-primary" id="start">Get started</h3>
                    <div class="lr-box">
                        <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
                            <h4 class="text-uppercase editContent text-secondary" style="outline: none; cursor: inherit;">Step 1: select the gender of your future dates</h4> 
                            <div class="form-group">
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="M">Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="F" checked>Female
                                </label>
                            </div>
                            <br>
                            <h4 class="text-uppercase editContent text-secondary" style="outline: none; cursor: inherit;">Step 2 : Enter a short description of your ideal date (if any)</h4> 
                            <div class="form-group">
                                <input type="text" class="form-control" name="description" placeholder="e.g someone who loves watching movies">
                            </div>
                            <br>
                            <h4 class="text-uppercase editContent text-secondary" style="outline: none; cursor: inherit;">Step 3 : Upload a photo of someone you like</h4> 
                            <div class="form-group">
                                <input type="file" class="form-control" name="file" accept="image/*" style="outline: none; cursor: inherit;">
                            </div>
                            <br>
                            <input type="submit" value="Start" class="btn btn-default-orange-light">
                        </form>
                    </div>                     
                </div>                 
            </div>             
        </div>         
    </div>
</section>
{% endblock %}