{% extends "base.html" %}

{% block title %}
-- Matched results
{% endblock %}

{% block content %}
    <div class="padded centered container">
        {% for profile in profiles %}

        <div class="profile-card">
            <img class="img-circle" width="150" src="{{ url_for('display_profile', filename=pic_folder)}}/{{profile.id}}.jpg" alt="">
            <h4>Name: {{ profile.name }}</h4>
            <h4>Gender: {{ profile.gender }}</h4>
            <h4>Age : {{ profile.age }}</h4>
            <h4>Email: {{ profile.email}}</h4>
            <p class="card-description">Description: {{ profile.description }}</p>
            <button type="" class="btn-default-orange-light">Match</button>
            <button type="" class="btn-default-green-tiny">Reject</button>       
        </div>

        {% endfor %}
    </div>
{% endblock %}